doctype html
html
  head
    style(type='text/css').
       html,
       body {
        margin: 0 auto !important;
        padding: 0 !important;
        height: 100% !important;
        width: 100% !important;
        font-family:Tahoma,Sans-serif;
        line-height:1.4em;
       }
       
       * {
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
       }
       div[style*="margin: 16px 0"] {
          margin: 0 !important;
       }
       
       h1 {
        margin-bottom:60px;
        font-size:30px;
        font-weight:700;
       }
       
       table,
       td {
           mso-table-lspace: 0pt !important;
           mso-table-rspace: 0pt !important;
       }
       img {
        -ms-interpolation-mode:bicubic;
       }
       
       *[x-apple-data-detectors],  /* iOS */
        .x-gmail-data-detectors,    /* Gmail */
        .x-gmail-data-detectors *,
        .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* What it does: Prevents Gmail from displaying an download button on large, non-linked images. */
        .a6S {
            display: none !important;
            opacity: 0.01 !important;
        }
        /* If the above doesn't work, add a .g-img class to any image in question. */
        img.g-img + div {
            display: none !important;
        }

        /* What it does: Prevents underlining the button text in Windows 10 */
        .button-link {
            text-decoration: none !important;
        }

        /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
        /* Create one of these media queries for each additional viewport size you'd like to fix */
        /* Thanks to Eric Lepetit (@ericlepetitsf) for help troubleshooting */
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) { /* iPhone 6 and 6+ */
            .email-container {
                min-width: 375px !important;
            }
        }

        @media screen and (max-width: 480px) {
        /* What it does: Forces Gmail app to display email full width */
          u ~ div .email-container {
            min-width: 100vw;
          }
        }  
         /* What it does: Hover styles for buttons */
         .button-td,
         .button-a {
              transition: all 100ms ease-in;
          }
          .button-td:hover,
          .button-a:hover {
              background: #555555 !important;
              border-color: #555555 !important;
          }

          /* Media Queries */
          @media screen and (max-width: 600px) {


          }
        
body(style='width:100%;margin:0;font-family:Helvetiva,sans-serif;font-size: 1em;background-color:#f8f8f8;mso-line-height-rule:exactly;')
  div(style="max-width:600px;margin:auto;background-color:white;").email-container
    table(style="width:100%;max-width:600px;margin-top:50px")
      tr
        td
          p
           .photo
             img(src=`https://donationapi.softylines.com/images/MicrosoftTeams-image(1).png`)
          div.content(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 600px;color: #2C3E50;')
            h1(style="text-align:center") Event Inquiry
            p Dear Ms/Mr #{fullName} #[br]I hope this email finds you well. I am interested in making a donation to Brightening Future Together and I would like to know the best way to do so. I have been inspired by your organization's mission and impact, and I would like to contribute in any way I can.Could you please provide me with guidance on the donation process and how to make a contribution? I am interested in learning more about the organization's goals and impact, and I would appreciate any information you can provide.


            p(style='padding-bottom:25px;margin-bottom:25px;') Thank you for your time and assistance in this matter. I look forward to hearing back from you soon.
            
            
            table(role='presentation' cellspacing='0' cellpadding='0' border='0' align='center' style='margin:0 auto 25px auto;')
              tr
                
                    
            

            p(style="margin-top:50px;") Thank you for trusting à #[a(Donation.softylines.com) Donation.softylines.com]
            
    div.footer(style="font-size:12px;margin-top:80px; background-color:#f1f1f1;")
      p(style="padding:20px;line-height:16px;") Donation.softylines.com #[br] Email : henda.hcm@polytecsousse.tn #[br]Tel:96 333 372
       